.top-nav {
  z-index: 100;
  width: 100%;
  color: #FFF;
  display: flex;
  min-height: 50px;
  background: var(--white);
  height: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed; top: 0; left: 0;
}

.top-nav img {
  padding-left: 5px;
  padding-top: 3px;
}

.top-nav a , .menu a{
  width: fit-content;
  border: 0;
  cursor: pointer;
  margin-right: 50px;
  text-decoration: none;
  display: inline-block;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > a {
  margin: 0 1rem;
  overflow: hidden;
  font-weight: bold;
  margin-right: 10px;
  color: #aaa;
  transition: color 0.3s;
}

.menu a:hover {
  color: var(--nav-hover-color);
}

.menu > a:last-child {
  float: right;
  margin: 0;
  overflow: hidden;
}

.menu-button-container {
  margin-right: 10px;
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  -webkit-transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: transparent;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* ******************************************** Burger ******************************************** */
@media (max-width: 730px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    width: 100%;
    z-index: 100;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    -webkit-background: linear-gradient(to right, #0a0a0a, #373737 88%);
            background: linear-gradient(to right, #0a0a0a, #373737 88%);
    background: #000;
    position: absolute; top: 0; left: 0;
  }
  #menu-toggle ~ .menu a {
    height: 0;
    margin: 0;
    border: 0;
    padding: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu a {
    width: 80%;
    height: 3em;
    padding: 0.9em;
    border-bottom: 2px solid gray;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > a {
    margin: 0;
    width: 100%;
    display: flex;
    font-size: large;
    padding: 0.5em 0;
    text-decoration: none;
    justify-content: center;
  }
  #menu-toggle:checked ~ .menu a:nth-last-child(2) {
    border-bottom: 0;
  }
  #menu-toggle:checked ~ .menu a:last-child {
    border: 0;
  }
}